<div class="panel">
  <div class="panel-heading text-center">
    <h2>{{game.name}}</h2>
  </div>
  <div class="panel-body">
    <div class="image-container col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
        <img src="../../../../assets/standings-icon.png" class="img-responsive" alt="Standings Icon" height="100" width="100">
        <small>Standings</small>
    </div>
    <div class="image-container col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-offset-1 text-center">
        <img src="../../../assets/rules-icon.png" class="img-responsive" alt="Standings Icon" height="100" width="100">
        <small>Rules</small>
    </div>
    <div class="image-container col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-offset-1 text-center">
        <img src="../../../assets/competition-icon.png" class="img-responsive" alt="Standings Icon" height="100" width="100">
        <small>Competitions</small>
    </div>
    
    <p >Secret Code: {{game.secretCode}}</p>
    <!-- <p>Players:{{ game.users.length }}</p> -->
    <p>Description:{{game.description}}</p>
    <!-- <p>Next match:{{ game.matches[0] }}</p> -->
    
        <button *ngIf="isAdmin" class="btn btn-light col-lg-5 col-md-5 col-sm-5 col-xs-5" (click)="onChooseCompetitions()">Choose Competitions</button>
        <button *ngIf="isAdmin" class="btn btn-light col-lg-5 col-md-5 col-sm-5 col-xs-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" (click)="onAddMatches()">Add Matches</button>
    
  </div>
</div>