<div class="col-lg-4 col-md-5 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-2">
  <h3>Please register</h3>
  <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
          <label for="fullName">Name</label>
          <input class="form-control" 
          type="text" 
          id="fullName" 
          name="fullName" 
          ngModel
          required
          #fullName="ngModel">
      </div>
      <span class="help-block" *ngIf="!fullName.valid && fullName.touched">Please enter your name!</span>
      <div class="form-group">
        <label for="email">Mail</label>
        <input class="form-control"
        type="email" 
        id="email" 
        name="email" 
        ngModel
        required
        email
        #email="ngModel">
      </div>
      <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid e-mail!</span>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control"
        type="password" 
        id="password" 
        name="password" 
        ngModel
        required minlength="6"
        #password="ngModel">
      </div>
      <span class="help-block" *ngIf="!password.valid && password.touched">Your password must be at least 6 characters long!</span>
      <button class="btn btn-primary"
        type="submit"
        [disabled]="!f.valid">Sign Up</button>
      <div class="alert alert-success" *ngIf="success">
        {{successMsg}}
      </div>
      <div class="alert alert-warning" *ngIf="error">
        {{errorMsg}}
      </div>
      
  </form>
</div>