
<div class="col-lg-6 col-md-6 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-1">
    <h2>Create new Game</h2>
<form id='game-data' (ngSubmit)="onSubmit(f)" #f="ngForm">
  <fieldset [disabled]="(gamesState | async).loading">
  <div class="form-group">
    <label for="name">Name of the Game:</label>
    <input 
      type="text" 
      class="form-control" 
      id="name"
      autocomplete="false"
      ngModel
      name="name">
  </div>
  <div class="form-group">
    <label for="secretCode">Secret Code:</label>
    <input 
      type="text" 
      class="form-control" 
      id="secretCode"
      ngModel
      name="secretCode">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea 
      class="form-control" 
      rows="5" 
      id="description"
      ngModel
      name="description"></textarea>
  </div>
  <!-- <div class="form-group">
    <div class="panel panel-default col-md-3 col-md-offset-1" *ngFor="let option of (gamesState | async).gameOptions">
          <div class="panel-heading" align="center"><label class="radio-inline" >{{option.option}}</label></div>
          <div class="panel-body center" align="center">
            <input type="radio" name="type" ngModel [value]="option.option">
            <p>{{ option.description }}</p>
          </div>
    </div>
  </div> -->
</fieldset>
  <app-small-loader-component *ngIf="(gamesState | async).loading"></app-small-loader-component>
  <button type="submit" class="btn btn-default" *ngIf="!(gamesState | async).loading">Submit</button>
</form>
</div>
  