<a class="competition-list-item list-group-item" 
    [style.background-color]="selected ? '#283655' : '#d0e1f9'"
    [style.color]="selected ? '#d0e1f9' : '#283655'"  
    (click) = "selected ? onRemoveCompetition() : onAddCompetition()">
      {{competition.name}}
</a>


  <!-- <div>
      <p class="col-lg-3 col-lg-offset-1">{{competition.name}}</p>
      <div class="col-lg-3 col-lg-offset-3">
          <button type="button" class="btn btn-success" (click) = "onAddCompetition()" *ngIf="!selected">Add competition</button>
          <button type="button" class="btn btn-danger" (click) = "onRemoveCompetition()" *ngIf = "selected">Remove Competition</button>
      </div>
  </div> -->