/* You can add global styles to this file, and also import other style files */
body {
  background-color: #EFEFEF;
  background-image: url('./assets/imagetemp4.jpg');
}
nav {
  background-color: #283655 !important;
}

.navbar-inverse .navbar-nav>li>a {
  color: #d0e1f9 !important
}

h1,h3 {
  color: #1e1f26;
  font-weight: bolder !important;
}

h2,h4 {
  color: #d0e1f9;
}

.competition-list-item {
  margin-bottom: 5px !important;
}

input {
  background-color: #A1D6E2 !important;
  /* background-color: rgba(161,214,226,0.5) !important; */
  color: #1e1f26 !important;
}

div.smart-component {
  border: 2px solid black;
}

input.ng-invalid.ng-touched {
  border: 2px solid 	#bf001d;
}

.btn.btn-light {
  background-color: #4d648d;
  color: #d0e1f9  
}

.btn.btn-light:hover {
  background-color: #1e1f26;
}

.btn.btn-dark {
  background-color: #1e1f26;
  color: #d0e1f9;
}

.btn.btn-dark:hover {
  background-color: #4d648d;  
}

.btn.btn-icon {
  color: #d0e1f9;
}

.btn.btn-icon:hover {
  color:#4d648d;
}

.btn.btn-light-negative {
  background-color: #47B835;
}

.btn.btn-dark-negative {
  background-color: #47B835;
}

div.well {
  background-color: #283655 !important;
  cursor: pointer;
  color: #d0e1f9;
  opacity: 0.8;
}

/* div.game-prediction-container {
  background-color: #d0e1f9;
} */

div.outlet-container {
  padding-left: 0px;
  padding-right: 0px;
}

div.auth-container {
  /* background-color: #283655; */
  background-color: rgba(40,54,85,0.9);
  color: #d0e1f9;
}

.panel-heading.match {
  color: #d0e1f9;
  background-color: #283655;
  border-bottom: 1px solid #4d648d;
}

.panel-body.match {
  background-color: #283655;
  color: #d0e1f9;
}

.panel-heading.game {
  color: #d0e1f9;
  background-color: rgba(40,54,85,0.9);
  border-bottom: 1px solid #4d648d;
}

.panel-body.game {
  background-color: #283655;
  color: #d0e1f9;
}

div.game-prediction-container {
  /* background-color: #A1D6E2; */
  background-color: rgba(161,214,226,0.5);
  border: 1px solid #A1D6E2;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}

div.image-container {
  color: #d0e1f9;
}

div.image-container > .img-responsive {
  margin: 0 auto;
}

small.live-indicator {
  color: #a2c523;
}

/* body {
    background-repeat: no-repeat;
    background-image: url('./assets/football-bg.jpg');
    background-size: auto;
     background-blend-mode:lighten;
} */
/* MODAL STYLES
-------------------------------*/
 

  my-modal {
    /* modals are hidden by default */
  
    display: none;
  }
  my-modal .my-modal {
    /* modal container fixed across whole screen */
  
    position: fixed;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    /* z-index must be higher than .modal-background */
  
    z-index: 1000;
    /* enables scrolling for tall modals */
  
    overflow: auto;
  }
  my-modal .my-modal .my-modal-body {
    padding: 20px;
    background: #283655;
    color: #d0e1f9;
    /* margin exposes part of the modal background */
  
    margin: 40px;
  }
  my-modal .my-modal-background {
    /* modal background fixed across whole screen */
  
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* semi-transparent black  */
  
    background-color: #000;
    opacity: 0.75;
    /* z-index must be below .modal and above everything else  */
  
    z-index: 900;
  }
  my-modal .modal-list-light {
    color: #1e1f26;
  }

  my-modal .my-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
  
    overflow: hidden;
  }
  