<h3>Please enter the secret code!</h3>
<small class="text-info">In order to join the game you have to enter the secret code provided by the admin of the game.</small>
<div>
    <form (ngSubmit)="onCodeEnter(f)" #f="ngForm">
        <fieldset [disabled]="(gamesState | async).loading">
        <div class="form-group col-md-6 col-md-offset-3">
            
            <input class="form-control" 
            type="text" 
            id="gameCode" 
            name="gameCode" 
            required
            ngModel
            #gameCode="ngModel">
        </div>
        </fieldset>
        <div class="row">
            <app-small-loader-component *ngIf="(gamesState | async).loading"></app-small-loader-component>
            <small class="text-danger">{{errorMsg.getErrMsg((gamesState | async).errorCode, 'games')}}</small>
        </div>
        
        <button class="btn btn-success"
            type="submit"
            [disabled]="!f.valid"
            *ngIf = "!(gamesState | async).loading">Join
        </button>
    </form>
</div>
